<div class="container mt-3">

    <!-- Page header start -->
    <div class="page-title">
        <div class="row gutters">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <h5 class="title text-lg-center"></h5>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12"> </div>
        </div>
    </div>
    <!-- Page header end -->

    <!-- Content wrapper start -->
    <div class="content-wrapper">

        <!-- Row start -->
        <div class="row gutters">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="card m-0">

                    <!-- Row start -->
                    <div class="row no-gutters">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
                            <div class="users-container">
                                <div class="chat-search-box">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Search">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-info">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                {{#if users}}
                                    <ul id="users-list" class="users">
                                        {{#each users}}
                                            <li class="person" data-chat="{{this.username}}:{{this._id}}" title="{{this.firstName}} {{this.lastName}}">
                                                <div class="user">
                                                    <img src="images/user-profile.png" alt="Retail Admin">
                                                    <span class="status online"></span>
                                                </div>
                                                <p class="name-time">
                                                    <span class="name col-md-12">{{this.firstName}} {{this.lastName}}</span>
                                                    <span class="time col-md-12">{{this.username}}</span>
                                                </p>
                                            </li>
                                        {{/each}}
                                    </ul>
                                {{/if}}

                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
                            <div class="selected-user">
                               To: <span class="name" id="destination" title="" aria-label=""></span>
                            </div>
                            <div class="chat-container">
                                <ul id="chatContainer" class="chat-box chatContainerScroll">
                                </ul>
                                <div class="row mt-5 mb-5">
                                <form id="chat-form">
                                <div class="form-group mt-3 mb-0 col-md-10 float-start">
                                    <textarea id="chat-input" class="form-control" rows="2" placeholder="Type your message here..."></textarea>

                                </div>
                                 <div class="form-group mt-3 mb-0 col-md-2 float-end">
                                    <button type="submit" class="btn btn-outline-primary"><i class="fa fa-paper-plane"></i> Send </button>
                                 </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Row end -->
                </div>

            </div>

        </div>
        <!-- Row end -->

    </div>
    <!-- Content wrapper end -->

</div>
<script>
    const socket = io()
    setInterval(function () {reloadChatBox("{{messageUrl}}")}, 1000);
    const chatInput = document.getElementById('chat-input')
    document.getElementById('chat-form').addEventListener('submit', event => {
        const toUser = document.getElementById('destination').getAttribute("title")
        const to = document.getElementById('destination').getAttribute("aria-label")
        event.preventDefault()
        if(toUser === "") {
            alert("Please Select User Before Start Chatting")
            return false
        }
        const message = {from_id: "{{id}}", to_id: toUser.split(":").pop(), from: "{{name}}",to, message: chatInput.value,createdDate:new Date()}
        postMessage("{{messageUrl}}",message)
        socket.emit('chat', message)
        chatInput.value = ''
    })

    function updateMessageList(message) {
        console.log("Message to Append",message)
        const li = document.createElement('li');
        const id = "{{id}}"
        li.setAttribute('class',id === message.from_id ? "chat-left":"chat-right")
        const chat = document.createElement("div");
        chat.setAttribute('class','chat-avatar');

        const chatName = document.createElement("div");
        chatName.setAttribute('class','chat-name');
        chatName.appendChild(document.createTextNode(message.from));

        const chatText = document.createElement("div");
        chatText.setAttribute('class','chat-text');
        chatText.appendChild(document.createTextNode(message.message));

        const chatHourText = document.createTextNode(new Date(message.createdDate).toLocaleTimeString());
        const chatHourIcon = document.createElement("span");
        chatHourIcon.setAttribute('class',"fa fa-check-circle")

        const chatHour = document.createElement("div");
        chatHour.setAttribute('class','chat-hour');
        chatHour.appendChild(chatHourText);
        chatHour.appendChild(chatHourIcon)

        const avatar = document.createElement("img");
        avatar.src = "images/avatar1.png";
        chat.appendChild(avatar)
        chat.appendChild(chatName)
        li.appendChild(chat)
        li.appendChild(chatText)
        li.appendChild(chatHour)

        document.getElementById('chatContainer').appendChild(li);
    }
    function reloadChatBox(url){
        console.log("Reload Chat Box")
        fetch(url, {
            method: 'get',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => response.json()).then(messages => {
            console.log("Chat Messages To Box",messages)
            var lis = document.querySelectorAll('#chatContainer li');
            for(var i=0; li=lis[i]; i++) {
                li.parentNode.removeChild(li);
            }
            messages.forEach(message => {
                const userAndId = document.getElementById('destination').getAttribute("title");
                if(userAndId === "") {
                    console.log(message.from_id);
                    updateMessageList(message)
                }else {
                    const fromId = userAndId.split(":").pop()
                    console.log(fromId)
                    if(message.from_id === fromId || message.to_id === "{{id}}"){
                        updateMessageList(message)
                    }
                }
            });
        }).catch(err => {
            console.log("Error during reload Chat Box")
        })
    }
    function postMessage(url,message){
        console.log("Posting Message",message)
        fetch(url, {
            method: 'post',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(message)
        }).then(response => response.json()).then(message => {
            console.log("Message Posted",message)
        }).catch(err => {
            console.log("Error while posting message")
        })

        reloadChatBox(url)
    }
</script>